body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}

.App-header {
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: white;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  left: 50%;
  border-bottom: 0.51px solid rgb(176, 176, 176);
  
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
  }
}


.container {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 90px; /* 헤더 아래에 공간을 추가 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // min-height: 100vh;
  margin-bottom: 80px;
  background-color: #fff;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}


.option-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  
  button {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f4f7f6;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    width: 100%;
  }
}

.questionnaire {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  h2 {
    height: 150px;
  }

  .option-buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    
    button {
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      background-color: #f4f7f6;
      transition: background-color 0.3s ease-in-out;
      text-align: center;
      width: 100%;
    }
  }
}

.option-buttons.two-options {
  flex-direction: row;
  justify-content: space-between;
  
  button {
    width: 48%; /* 버튼이 가로로 정렬되도록 48% 너비 설정 */
    height: 100px;
  }
}

.option-buttons button.selected {
  background-color: #00C388;
  color: #fff;
  border-color: #00C388;
}

.other-sport-input {
  margin-top: 20px;
  width: 100%;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px; 
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  
  button {
    width: 48%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #00C388;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .prev-button {
    background-color: #6c757d;
  }
  .prev-button:hover {
    background-color: #5a6268;
  }
  button:hover {
    background-color: #00C388;
  }
  .prev-button {
    background-color: #6c757d;
  }
  .prev-button:hover {
    background-color: #5a6268;
  }
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}

.App-header {
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: white;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  left: 50%;
  border-bottom: 0.51px solid rgb(176, 176, 176);
  
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
  }
}


// 여기는 예비로 만들어놓은 페이지
.selection-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #333;
  }
  
  .option-buttons {
    display: flex;
    gap: 20px;
    
    button {
      padding: 15px 30px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: #00C388;
      color: #fff;
      transition: background-color 0.3s ease-in-out;
    }
    
    button:hover {
      background-color: #00C388;
    }
  }
}

// FinalSubmission 스타일
.final-submission {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #666;
  }
  .tier-info {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f7f6;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  p {
    margin: 10px 0;
    font-size: 1rem;
  }
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px; 
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
}



// TournamentCheck 스타일
.tournament-check {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
}

.tournament-check h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.tournament-list {
  width: 100%;
}

.tournament-row {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tournament-row.selected {
  background-color: #00C388;
  color: white;
}

.tournament-info {
  display: flex;
  flex-direction: column;
}

.tournament-date,
.tournament-event,
.tournament-details {
  margin-bottom: 8px;
}

.tournament-event {
  font-size: 1.2rem; /* 대회명을 크게 표시 */
  font-weight: bold;
}


.tournament-check .add-tournament-button {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00C388;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.tournament-check .add-tournament-button:hover {
  background-color: #00C388;
}

.add-button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #00C388;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #00C388;
}


.new-entry-form {
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  border-color: #333;
  // padding: 10px;
  background-color: #ddd;
  

  input,
  select, 
  .form {
    margin-bottom: 10px;
    padding: 8px;
    margin: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .button-group {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  button {
    width: 49%;
    margin-top: 15px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .cancel-button {
    background-color: #999;
  }

}



//BasicInfo 스타일
.basic-info {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
}

.basic-info h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.basic-info .input-group {
  width: 100%;
  margin-bottom: 20px;
}

.basic-info .input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.basic-info .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}
